
<div class="row">
        <div class="col-md-8" >
                <mat-card> 
                        <mat-card-title>Add News</mat-card-title>
                    
            <form novalidate   [formGroup]="myForm"  (ngSubmit)="save(myForm.value, myForm.valid)">
                        <div  class="form-group" >
                                        <label for="Id">Id:</label>
                                        <input readonly name="Id" formControlName="Id" class="form-control"> 
                         </div>
                         <div  class="form-group" >
                                        <label for="CategoryId">CategoryId:</label>
                                        <input readonly name="CategoryId" formControlName="CategoryId" class="form-control"> 
                         </div>
                 
                    <div  class="form-group" >
                        <small [hidden]="myForm.controls.CategoryId.valid || !submitted" class="alert alert-danger">
                                Category is required 
                            </small>
                   </div>
                <div  class="form-group" >
                    <label for="Subject">Subject:</label>
                    <input name="Subject" formControlName="Subject" class="form-control"> 
                </div> 
                <div  class="form-group" >
                        <small [hidden]="myForm.controls.Subject.valid || !submitted" class="alert alert-danger">
                                Subject is required  
                        </small> 
                </div>
                <div  class="form-group" >
                               
                            <label for="Icon">Icon:</label> <button type="submit" class="btn btn-default"   (click)="clearIcon($event)" >Clear</button>
                            <img [src]="imageSrc" style="    border: solid;
                            border-color: cornflowerblue;max-width:300px;max-height:300px"/>
                              <input  class="form-control" name="Icon" id="Icon"   type="file" accept="image/*" (change)="handleIconChange($event)" />  
                    </div>   
                    <div  class="form-group" >
                            <small [hidden]="imageSrc || !submitted"  class="alert alert-danger">
                                    Icon is required 
                                  </small> 
                      </div>
                <div  class="form-group" >
                        <label for="Content">Content:</label>
                        <ckeditor [(ngModel)]="newsContent" [ngModelOptions]="{standalone: true}" > 
                         </ckeditor>
                        
               </div> 
                    <div  class="form-group" >
                            <small [hidden]="(newsContent != null &&  newsContent.length > 100 ) || !submitted"  class="alert alert-danger">
                                    Content is required . Min 100 character
                           </small> 
                     </div>
                    
                           
             <div  class="form-group" style="    height: 30px;
             align-content: left;" > 
                <button type="submit" mat-raised-button color="primary" style="float:right;    width: 300px;"  >Save</button> 
            </div>  
            </form>  
        </mat-card> 
        </div>
 
</div>

 