 
  html {
    background: #eee;
  }
  
  body { 
    display: block;
    justify-content: center;
    align-items: center;
  }

  .example-card:hover{
    box-shadow: -1px 10px 29px 0px rgba(133, 135, 140, 0.8) !important;
    cursor: pointer !important;
  }

  
  .box {  
    z-index: 9999;
    border-radius: 5px;
    /* -webkit-box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2); */
    /* box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2); */
    /* background: #fbfcee; */
    position: fixed;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    left: 40%;
  }
  
  .wave {
    opacity: .6;
    position: fixed;
    /* top: 3%; */
    /* left: 50%; */
    background: #319dd4;
    width: 400px;
    height: 350px;
    margin-left: -80px;
    margin-top: -262px;
    -webkit-transform-origin: 50% 48%;
    /* transform-origin: 50% 48%; */
    border-radius: 43%;
    /* -webkit-animation: drift 3000ms infinite linear; */
    /* animation: drift 3000ms infinite linear; */
  }
  
  .wave.-three {
    animation: drift 5000ms infinite linear;
  }
  
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: .1;
    background: yellow;
  }
 
  .title2 { 
    left: 0;
    top: 0;
    width: 95%;
    z-index: 1;
    /* line-height: 300px; */
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #737373;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: .4em;
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-indent: .3em; 
    font-weight: bold; 


}
  .title { 
    left: 0;
    top: 0;
    width: 101%;
    z-index: 1;
    /* line-height: 300px; */
    text-align: center;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    color: #737373;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
    letter-spacing: .4em;
    font-size: 25px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    text-indent: .3em;
    margin-top: 10px;
    font-weight: bold;
}
  @keyframes drift {
    from { transform: rotate(0deg); }
    from { transform: rotate(360deg); }
  }

   
*,
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

body { 
  font-family: 'Roboto','Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0; 
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
} 
 
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

