

 

<div class="slideshow-container" style="margin: 30px">

    <div class="mySlides"   *ngFor="let item of this.news" >
      
       
<div class="row"  (click)="OpenDetails(item.Id)" style="cursor: pointer">
    <div class="col-lg-12 col-md-12 col-sm-12  col-xs-12"   > 

        <img [src]="GetImageAsBase64(item)" alt="" width="100%">
        <div class="text">{{item.Subject}}</div>
 

      </div>
    </div>  
    </div> 
    </div>
    <br>
    


<div id="dotcontainer" style="display:none; text-align:center">
    <span class="dot"  *ngFor="let item of this.news" ></span>  
  </div>
   



 